.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
}

#sq2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#sq3 {
    grid-column-start: 3;
    grid-row-start: 3;
}

#sq5 {
    grid-column-start: 3;
    grid-row-start: 2;
}

#sq6 {
    grid-column-start: 4;
    grid-row-start: 3;
}

#sq8 {
    grid-column-start: 4;
    grid-row-start: 2;
}

#sq9 {
    grid-column-start: 5;
    grid-row-start: 3;
}

